.nav:hover {
    border-bottom: blue 3px solid;
}

.main {
    background-image: url('../images/bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#hidden {
    position: absolute;
    z-index: 2;
    display: none;
}


//show data inside hidden element on hover navbar hidden ele should be next to nav element 
nav:hover~#hidden {
    display: block;
}

#svg:hover~#ul 
{
    display:block;
}

#btnav {
    bottom:0%;
    width: 100%;
    left: 0;
    padding-left: 2%;
}